<%= simple_form_for(@branch) do |f| %>
  <%= f.error_notification %>

    <%= f.input :name %>
    
		<div class="form-actions">
			  <%= f.button :submit, 'Utwórz', class: 'btn btn-primary' %> | <%= link_to 'Powrót', branches_path, class: 'btn btn-primary' %>
		</div>
<% end %>
