<h1 class="page-header">Lista oddziałów</h1>

<table class="table table-hover">
  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.name %></td>
        <td><%= link_to 'Show', branch %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="form-actions">
  <%= link_to 'Nowy Oddział', new_branch_path, class: 'btn btn-primary' %>
</div>
