<% if user_signed_in? %>
	<h4 class="page-header">Role</h4>

	<% if current_user.admin? %>
		<p>Witaj <%= current_user.imie %></p>

	<% end %> 
		
	<p>
			Witaj w Elektronicznym Systemie Nadawania Uprawnień.
		Przed wygenerowaniem nowego wniosku zapoznaj się z materiałami zawartymi w dziale <%= link_to "Informacji", pages_pomoc_path %>
	</p>
	<p>
		Uzupełnij również swoje dane w <%= link_to "ustawieniach", edit_user_registration_path %>
	</p>
	<p>Możesz wnioskować o role znajdujące się w poniższym katalogu</p>
	&nbsp;
			<div class="row">
				
				<table class="table table-hover table-vcenter">

					<thead>
						<tr>
							<th>Numer:</th>
							<th>Nazwa</th>
							<th>Opis:</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<% @roles.each do |rola| %>
							<tr>	
								<td><%= rola.numer %></td>
								<td><%= rola.nazwa %></td>
								<td><%= rola.opis %></td>
								<td><%= button_to 'Dodaj do wniosku', line_items_path(role_id: rola), remote: true, class: 'btn btn-primary' %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>



	<% else %>

		<div class="hero-unit">
			<p>Welcome</p>
			<h3>Elektroniczny System Nadawania Uprawnień</h3>
			<%= link_to "Zarejestruj", new_user_registration_path, class: "btn btn-primary" %>
		</div>

<% end %>

