<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
		<%= link_to "e-SNU", root_path, class: "brand" %>
		<ul class="nav pull-right">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Informacje", pages_pomoc_path %></li>
			<% if user_signed_in? %>

				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i> Ustawienia
				<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<% if @cart %>
						<li><%= link_to "Wniosek (#{@cart.suma_rol})", cart_path(@cart) %></li>
					<% end %>
					<li><%= link_to "Profil", edit_user_registration_path %></li>
					<% if current_user.admin? %>
						<li><%= link_to "Oddziały", branches_path %> </li>
					<% end %>
					<li class="divider"></li>
					<li><%= link_to "Wyloguj", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "Zaloguj się", new_user_session_path %></li>
				<!-- links -->
				</ul>
				</li>
			<% end %>
		</ul>
	</div>
</div><!-- /Navbar -->
</div>