<!DOCTYPE html>
<html>
<head>
	<title>Esnu</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<%= render 'layouts/header' %>
	<!-- Lewe menu + Body -->
	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>
			<div class="row">
				<div class="span10">
					<%= yield %>
				</div>
				<div class="span2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, fuga, odio labore sunt nulla eum dolor architecto. Eos, ducimus doloribus amet quam nihil dolor omnis sed itaque magnam corrupti quos ratione nostrum fugit dolorum dignissimos quo ab possimus autem explicabo aliquid tempore aliquam similique magni ipsam commodi voluptatum esse consequuntur.
				</div>

			</div>
		

		<%= render 'layouts/footer' %>
	</div>
</html>
